div(layout='row')
  md-sidenav.md-sidenav-left.md-whiteframe-z2.sidebar(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('hide-gt-md')")
      md-toolbar.md-tall.md-hue-2
        span(flex='')
        .md-toolbar-tools-bottom.inset(layout='column')
          <i class="fa fa-user fa-4"></i>
          span
          div {{ $root.currentUser.profile[0].fname}} {{$root.currentUser.profile[0].lname}}
          div {{ $root.currentUser.emails[0].address }}    
      md-list
        a(href='/admindashs',class='fa fa-home fa-1') 
            span Home
          md-subheader User Management
            ul.admin-ul 
              li 
                a(href='/usermanages') Manage Employees
              li 
                a(href='/organizations') Manage Organizations
              li 
                a(href='/viewleaves') Manage Leave Request
              li 
                a(href='/progresses') Project Progress
          md-divider
          md-subheader List Data Management            
          a
            ul.admin-ul
              li
                a(href='/departments') Manage Departments
              li
                a(href='/designations') Manage Designations
              li
                a(href='/projects') Manage Projects
    .relative(layout='column', layout-fill='', role='main')
      toolbar
.departments-list(layout='row')
  span(flex='')
  div(layout='column')
    h1 Departments
    form.md-whiteframe-z1(ng-submit='save()', name='form', novalidate='', layout-padding='')
      p Add a department
      md-input-container
        label Name
        input(ng-model='newDepartment.name', placeholder='Name')
      md-input-container
        label Description
        input(ng-model='newDepartment.description', placeholder='Description', type='textarea')
      input.md-button(type='submit', value='Add')
    div(layout='row', layout-padding='')
      md-input-container(flex='65')
        label Search
        input(type='search', ng-model='search', placeholder='Search')
      md-select(ng-model='orderProperty', flex='35')
        md-option(value='1') Ascending
        md-option(value='-1') Descending

    table
      tr
        th S.N
        th
          a(href='#', ng-click="sortType = 'dname'; sortReverse = !sortReverse") Name
        th
          a(href='#', ng-click="sortType = 'description'; sortReverse = !sortReverse") Description
        th Operation
      tr(dir-paginate='department in departments | itemsPerPage: perPage | orderBy:sortType:sortReverse', total-items='departmentsCount.count',  current-page='page')
        td {{$index + 1}}
        td {{department.name}}
        td {{department.description}}
        td
          a(href='/departments/{{department._id}}')  Edit 
          button(ng-click='remove(department._id)') Remove
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

    p Total number of departments: {{departmentsCount.count}}
  span(flex='')