md-toolbar.toolbar(layout='row', layout-align='start center', layout-padding='')
  .navbar-left(layout='row', layout-align='center center')
    a(href='/') E-Timesheet
  span(flex='')
  .navbar-right(layout='row', layout-align='center center') 
    div(ng-show='$root.currentUser ') {{ $root.currentUser.emails[0].address }}
    md-button(ng-href='/logout', ng-show='$root.currentUser') Logout