md-content(layout='')
  toolbar
md-content(layout='row')
      span(flex='')
      md-whiteframe(layout='column', flex='50')
        h1 Admin Dashboards
        div(layout='column')
          h2 User Management
          a(href='/usermanages') Manage Employees
          a(href='/organizations') Manage Organizations
          a(href='/viewleaves') Manage Leave Request
          a(href='/progresses') Project Progress
        div(layout='column')
          h2 List Data Management
          a(href='/departments') Manage Departments
          a(href='/designations') Manage Designations
          a(href='/projects') Manage Projects
      span(flex='')