md-content
  &.md-default-theme
    background-color #eee

md-card
  background-color #fff
  h2
    &:first-of-type
      margin-top 0

md-toolbar
  .md-button
    &.md-default-theme
      border-radius: 99%

h2
  font-weight: 400

.md-toolbar-tools-bottom
  font-size: small
  :last-child
    opacity: 0.8

md-toolbar:not(.md-hue-1),
.md-fab
  fill: #fff
  position: fixed

md-sidenav
  fill: #737373
  ng-md-icon
    position: relative
    top: 5px

.user-avatar
  border-radius: 99%

.fa-4
  font-size: 80px

a
  text-decoration: none

.md-subheader .md-subheader-inner
  padding-left: 0

ul.admin-ul
  padding-left: 0

.md-subheader
  margin-right: 0

md-list .md-subheader
  font-size: 20px
  color: #000
 
md-list .md-subheader .md-subheader-content span
  padding-left: 10px

ul.admin-ul li
  display: block

ul.admin-ul li a
  color: rgba(0,0,0,0.54);
  font-size: 13px
  display:block
  padding: 5px 0
  padding-left: 20px

ul.admin-ul li a:hover
  background: #f6f6f6
  color: #000

a.fa.fa-home.fa-1
  font-size: 20px
  padding-left: 10px

a.fa.fa-home.fa-1 span 
  font-family: Roboto, 'Helvetica Neue', sans-serif;

toolbar
  position: fixed

.toolbar a
  color: #fff

table
  border-collapse: collapse

tr
  &:nth-of-type(odd)
    background: #cdc

th
  background: rgb(33,150,243)
  color: white
  font-weight: bold

td, th
  padding: 6px
  border: 1px solid #f4f4f4
  text-align: left

.sidebar
  position: absolute !important
  height: 100%

md-button.right
  display: inline-block !important
  float: right !important  


md-list
  margin-top: 130px
  width: 100%
  float: left


