md-content(layout='')
  toolbar
md-content(layout='row')
  span(flex='')
    div(layout='column' style='width:60%;height:400px;margin: 0 auto')
      form.md-whiteframe-z1(ng-submit='save()', name='form', novalidate='', layout-padding='')
        h1(style='text-align:center') Add Leave 
        div(layout='row', layout-align='space-around center')
          div Leave
            md-datepicker(ng-model='newAddleave.sdate', md-placeholder='From')
            md-datepicker(ng-model='newAddleave.edate', md-placeholder='To')
        div(layout='row', layout-align='space-around center')
          md-input-container
            label Reason
            textarea(ng-model='newAddleave.reason', type='textarea', ng-placeholder='Reason')
        input.md-button(type='submit', value='Submit')
      h1 Approved leaves

      table
        tr
          th S.N
          th
            a(href='#', ng-click="sortType = 'email'; sortReverse = !sortReverse") Email
          th
            a(href='#', ng-click="sortType = 'sdate'; sortReverse = !sortReverse") From
          th
            a(href='#', ng-click="sortType = 'edate'; sortReverse = !sortReverse") To
          th
            a(href='#', ng-click="sortType = 'reason'; sortReverse = !sortReverse") Reason
        tr(ng-repeat ='addleave in addleaves |  orderBy:sortType:sortReverse')
          td {{$index + 1}}
          td
              | {{addleave.user}}
          td {{addleave.sdate}}
          td {{addleave.edate}}
          td {{addleave.reason}}
          td 
            button(ng-click='remove(addleave._id)') Remove
          