div(layout='row')
  md-sidenav.md-sidenav-left.md-whiteframe-z2.sidebar(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('hide-gt-md')")
      md-toolbar.md-tall.md-hue-2
        span(flex='')
        .md-toolbar-tools-bottom.inset(layout='column')
          <i class="fa fa-user fa-4"></i>
          span
          div {{ $root.currentUser.profile[0].fname}} {{$root.currentUser.profile[0].lname}}
          div {{ $root.currentUser.emails[0].address }}    
      md-list
        a(href='/admindashs',class='fa fa-home fa-1') 
            span Home
          md-subheader User Management
            ul.admin-ul 
              li 
                a(href='/usermanages') Manage Employees
              li 
                a(href='/organizations') Manage Organizations
              li 
                a(href='/viewleaves') Manage Leave Request
              li 
                a(href='/progresses') Project Progress
          md-divider
          md-subheader List Data Management            
          a
            ul.admin-ul
              li
                a(href='/departments') Manage Departments
              li
                a(href='/designations') Manage Designations
              li
                a(href='/projects') Manage Projects
    .relative(layout='column', layout-fill='', role='main')
      toolbar
.project-detail(layout='row')
  span(flex='')
  div(layout='column')
    h1 Projects Edit
    form.md-whiteframe-z1(ng-submit='save()', name='form' id='form', novalidate='', layout-padding='')
      p Projects
      md-input-container
        label Name
        input(ng-model='project.name', placeholder='name')
      md-input-container
        label Description
        textarea(ng-model='project.description', placeholder='description')
      div(layout='row', layout-align='space-around center') 
        label Start Date
        
          md-datepicker(ng-model='project.sdate', md-placeholder='From')
        label End Date
        
          md-datepicker(ng-model='project.edate', md-placeholder='To')
      br
      br  
      br
      ul
        | Members
        li(ng-repeat='user in users', ng-model='project.member')
          input(type='checkbox', checklist-model='mem', checklist-value='user._id', ng-disabled="shouldBeDisabled(user.deleted)", ng-click="toggle(user._id, member)", ng-checked="exists(user._id, member)")
          |  {{user.profile[0].fname}} {{user.emails[0].address}}
      label Parent
        md-select(ng-model='project.parent', placeholder='Select Parent project if any')
         md-option(ng-value='' )
         md-option(ng-value='project._id', ng-repeat='project in projects ') {{ project.name }}

        input.md-button(type='submit', value='Save')
           
  span(flex='')