md-content(layout='')
  toolbar
.project-detail(layout='row')
  span(flex='')
  div(layout='column')
    h1 Here are the details of the project
    form.md-whiteframe-z1(name='form', ng-submit='save()', layout-padding='')
      md-input-container
        md-input-container
        label Description
        input(ng-model='project.description', placeholder='Description')
      div(layout='row', layout-align='space-around center')
        div Start Date
        md-datepicker(ng-model='project.sdate', md-placeholder='From')
        md-datepicker(ng-model='project.edate', md-placeholder='To')
      div(layout='row')
        input.md-button(type='submit', value='Save')
        md-button(ng-click='reset()') Reset
        md-button(ng-href='/projects') Cancel
  span(flex='')