md-content(layout='')
  toolbar
.Progresses(layout='row')
      span(flex='')
      div(layout='column')
        h1 Work Flow

        div(layout='row', layout-padding='')
          md-input-container(flex='65')
            label Search
            input(type='search', ng-model='search', placeholder='Search')
          md-select(ng-model='orderProperty', flex='35')
            md-option(value='1') Ascending
            md-option(value='-1') Descending

        table
          tr
            th S.N
            th
              a(href='#', ng-click="sortType = 'project'; sortReverse = !sortReverse") User
            th
              a(href='#', ng-click="sortType = 'project'; sortReverse = !sortReverse") Project
            th
              a(href='#', ng-click="sortType = 'taken'; sortReverse = !sortReverse") Timetaken
            th
              a(href='#', ng-click="sortType = 'date'; sortReverse = !sortReverse") Date
            th
              a(href='#', ng-click="sortType = 'time'; sortReverse = !sortReverse") Time
            th
              a(href='#', ng-click="sortType = 'detail'; sortReverse = !sortReverse") Description

          tr(dir-paginate ='etimesheet in etimesheets |itemsPerPage: perPage |  orderBy:sortType:sortReverse', total-items='etimesheetsCount.count',  current-page='page')
            td {{$index + 1}}
            td {{etimesheet.user}}
            td {{etimesheet.pname}}
            td {{etimesheet.ptime}}
            td {{etimesheet.createdDate | date:'yyyy/MM/dd'}}
            td {{etimesheet.createdDate | date:'hh:mm a'}}
            td {{etimesheet.pdetails}}
            td
              md-button.md-primary.md-raised(ng-click="showConfirm($event, etimesheet._id)", flex-md='100', flex-gt-md='auto') Remove

        dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

        p Total number of addleaves: {{etimesheetsCount.count}}
      span(flex='')
        