div(layout='row')
  md-sidenav.md-sidenav-left.md-whiteframe-z2.sidebar(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('hide-gt-md')")
      md-toolbar.md-tall.md-hue-2
        span(flex='')
        .md-toolbar-tools-bottom.inset(layout='column')
          <i class="fa fa-user fa-4"></i>
          span
          div {{ $root.currentUser.profile[0].fname}} {{$root.currentUser.profile[0].lname}}
          div {{ $root.currentUser.emails[0].address }}    
      md-list
        a(href='/admindashs',class='fa fa-home fa-1') 
            span Home
          md-subheader User Management
            ul.admin-ul 
              li 
                a(href='/usermanages') Manage Employees
              li 
                a(href='/organizations') Manage Organizations
              li 
                a(href='/viewleaves') Manage Leave Request
              li 
                a(href='/progresses') Project Progress
          md-divider
          md-subheader List Data Management            
          a
            ul.admin-ul
              li
                a(href='/departments') Manage Departments
              li
                a(href='/designations') Manage Designations
              li
                a(href='/projects') Manage Projects
    .relative(layout='column', layout-fill='', role='main')
      toolbar
.Progresses(layout='row')
      span(flex='')
      div(layout='column')
        h1 Work Flow

        div(layout='row', layout-padding='')
          md-input-container(flex='65')
            label Search
            input(type='search', ng-model='search', placeholder='Search')
          md-select(ng-model='orderProperty', flex='35')
            md-option(value='1') Ascending
            md-option(value='-1') Descending

        table
          tr
            th S.N
            th
              a(href='#', ng-click="sortType = 'project'; sortReverse = !sortReverse") User
            th
              a(href='#', ng-click="sortType = 'project'; sortReverse = !sortReverse") Project
            th
              a(href='#', ng-click="sortType = 'taken'; sortReverse = !sortReverse") Timetaken
            th
              a(href='#', ng-click="sortType = 'date'; sortReverse = !sortReverse") Date
            th
              a(href='#', ng-click="sortType = 'time'; sortReverse = !sortReverse") Time
            th
              a(href='#', ng-click="sortType = 'detail'; sortReverse = !sortReverse") Description
            th Operation
          tr(dir-paginate ='etimesheet in etimesheets |itemsPerPage: perPage |  orderBy:sortType:sortReverse', total-items='etimesheetsCount.count',  current-page='page')
            td {{$index + 1}}
            td {{etimesheet.user}}
            td {{etimesheet.pname}}
            td {{etimesheet.ptime}}
            td {{etimesheet.createdDate | date:'yyyy/MM/dd'}}
            td {{etimesheet.createdDate | date:'hh:mm a'}}
            td {{etimesheet.pdetails}}
            td
              md-button.md-primary.md-raised(ng-click="showConfirm($event, etimesheet._id)", flex-md='100', flex-gt-md='auto') Remove

        dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

        p Total number of addleaves: {{etimesheetsCount.count}}
      span(flex='')
        