md-content.login
  position: fixed
  min-height: 100%
  width: 100%
  background: url('/sunrise.jpg')no-repeat center center
  background-size: cover

.login-form
  background: rgba(255,255,255,0.3)

.login-form
  h1
    background: #f3f3f3
    margin: 0
    margin-bottom: 20px
    padding: 5px 0

.login-form
  md-input-container
    width: 95%
    margin: 0 auto

.login-h3
  text-align: center
  color: #fff

.login-form .md-button:hover
  background #f4f4f4

a.login-regis:hover
  background-color: #f4f4f4 !important