md-content(layout='row')
      span(flex='')
      md-whiteframe(layout='column', flex='50')
        div(layout='row', layout-align='space-around center')
        .md-warn(ng-show='error')
          small {{ error }}
        form(layout='column')
          md-input-container
            label Email Address
            input(type='text', ng-model='credentials.email', placeholder='Enter Email', aria-label='email')
          md-input-container
            label Password
            input(type='password', ng-model='credentials.password', placeholder='Enter Password', aria-label='password')
        div(layout='row', layout-align='space-around center')
          md-button(ng-click='login()') Login
          md-button(ng-href='registers') Register
      span(flex='')