md-content(layout='')
  toolbar
md-content(layout='row')
      span(flex='')
      md-whiteframe(layout='column', flex='50')
        div(layout='column')
          h1 User Dashboard
          a(href='/addleaves') Add Leave
          a(href='/etimesheets') Add Timesheet