md-content(layout='row', md-component-id='left',  flex='')
  toolbar(position: fixed)
div(layout='row')
   md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-md')", style='position: fixed;height: 100%;top: 64px')
        md-toolbar.md-tall.md-hue-2
          span(flex='')
          .md-toolbar-tools-bottom.inset(layout='column')
            <i class="fa fa-user fa-4"></i>
            span
            div {{ $root.currentUser.profile[0].fname}} {{$root.currentUser.profile[0].lname}}
            div {{ $root.currentUser.emails[0].address }}
        md-list
          a(href='/admindashs',class='fa fa-home fa-1') 
            span Home
          md-subheader User Management
            ul.admin-ul 
              li 
                a(href='/usermanages') Manage Employees
              li 
                a(href='/organizations') Manage Organizations
              li 
                a(href='/viewleaves') Manage Leave Request
              li 
                a(href='/progresses') Project Progress
          md-divider
          md-subheader List Data Management            
          a
            ul.admin-ul
              li
                a(href='/departments') Manage Departments
              li
                a(href='/designations') Manage Designations
              li
                a(href='/projects') Manage Projects
.admin-reset(layout='row')
  span(flex='')
  div(layout='column')
    h1 Here are the details of the user
    form.md-whiteframe-z1(name='form', ng-submit='showConfirm($event)', layout-padding='')
      md-input-container
        label Email
        input(ng-model='email', placeholder='Email')
      md-input-container
        label Password
        input(ng-model='newPlaintextPassword', placeholder='New Password')
      div(layout='row')
        input.md-button(type='submit', value='Save')
        md-button( ng-href='/usermanages') Cancel
    div(ng-if='status')
      br
      b.md-padding(layout='row', layout-align='center center')
        | {{status}}
  span(flex='')