div(layout='row')
  md-sidenav.md-sidenav-left.md-whiteframe-z2.sidebar(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('hide-gt-md')")
      md-toolbar.md-tall.md-hue-2
        span(flex='')
        .md-toolbar-tools-bottom.inset(layout='column')
          <i class="fa fa-user fa-4"></i>
          span
          div {{ $root.currentUser.profile[0].fname}} {{$root.currentUser.profile[0].lname}}
          div {{ $root.currentUser.emails[0].address }}    
      md-list
        a(href='/userdashs',class='fa fa-home fa-1') 
            span Home
          md-subheader User Dashboard
            ul.admin-ul 
              li 
                a(href='/addleaves') Add Leave
              li 
                a(href='/etimesheets') Add Timesheet
    .relative(layout='column', layout-fill='', role='main')
      toolbar
.etimesheets(layout='row')
      span(flex='')
      div(layout='column')
        h1 Add Timesheet
        md-button.md-raised.md-primary(ng-click='save()') Save
        table
          tr
            th
              a(href='#', ng-click="sortType = 'project'; sortReverse = !sortReverse") Project
            th
              a(href='#', ng-click="sortType = 'taken'; sortReverse = !sortReverse") Time taken
            th
              a(href='#', ng-click="sortType = 'detail'; sortReverse = !sortReverse") Description
            th Operations
          tr
            td
              md-input-container
                md-select(ng-model='newEtimesheet.name', placeholder='Project Title')
                  md-option(ng-value="project.name", ng-repeat='project in projects', ng-click="set(project.name)")
                    | {{project.name}}
            td 
              md-input-container
                input(type='number', ng-model='newEtimesheet.time')
            td
              md-input-container
                textarea(ng-model='newEtimesheet.details')
            td
               button.tbutton(ng-click="addRow()") Add New Row
          tr(ng-repeat='table in tables')
            td
              md-input-container
                md-select(ng-model='table.pname', placeholder='Project Title')
                  md-option(ng-value="project.name", ng-repeat='project in projects', ng-click="set(project.name)")
                    | {{project.name}}
            td 
              md-input-container
                input(type='number', ng-model='table.ptime')
            td
              md-input-container
                input(type='textarea', ng-model='table.pdetails')
            td
              button.tbutton(ng-click='tables.splice($index, 1)') Remove
      span(flex='')